<div class="inner-box clearfix">
    <div class="container">
        <div class="span-10 append-bottom">
            <h1>Contract Confidence</h1>
            <div class="append-bottom" id="chart-1"></div>
        </div>
        <div class="push-1 span-10 last append-bottom">
            <h1>Estimate Confidence</h1>
            <div class="append-bottom" id="chart-2"></div>
        </div>
        <div class="span-10 append-bottom">
            <h1>Cost Vs Schedule Performance</h1>
            <div class="append-bottom" id="chart-3"></div>
        </div>
        <div class="push-1 span-10 last append-bottom">
            <h1>Delay Analysis</h1>
            <div class="append-bottom" id="chart-4"></div>
        </div>
        <div class="span-10 append-bottom">
            <h1>Asphalt Usage</h1>
            <span class="append-bottom" id="asphalt">9,7,10,8,6</span>
        </div>
        <div class="push-1 span-10 last append-bottom">
            <h1>Concrete Usage</h1>
            <span class="append-bottom" id="concrete">9,4,10,8,6</span>
        </div>
    </div>
</div>

